// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#salaryTable  > tr > th, #salaryTable tbody >tr >td {
    border-color: black;
 }
#ssbtable  > tr > th, #ssbtable tbody >tr >td {
    border-color: black;
}
table td input {
    width: 100%;   
}
#salaryTable,#ssbtable {  
    margin: 0 auto;
}
textarea {
    height: 4.07em;
    resize: none;
 }
.error{
  border: 1px solid red;
}
.scrolling-wrapper{
	overflow-x: auto;
    white-space: nowrap; 
}
